@tailwind base;
@tailwind components;
@tailwind utilities;

p, input, textarea {
  font-family: "Noto Serif", sans-serif;
  font-size: 1rem !important;
  line-height: 1.5rem !important;
}

h1, h2, h3, h4, h5, h6, span {
  font-family: "Montserrat", sans-serif;
}

a {
  font-family: "Montserrat", sans-serif;
  font-size: 1rem !important;
}

@layer base {
  a {
    color: white;
  }
  body {
    background-color: hsla(243, 60%, 95%, 1);
  }
}

@layer utilities {
  .text-gradient {
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

/* Stop page side scrolling on mobile */
html,
body {
  overflow-x: hidden;
}

/* Custom styles for logo animation */
.logo-container {
  display: flex;
  gap: 20px; /* Adjust spacing between logos */
  overflow: hidden; /* Hide logos outside the container */
  width: 100%; /* Ensure the container takes up full width */
  justify-content: flex-start; /* Align logos to the start of the container */
  position: relative; /* Position relative for absolute positioning of logos */
}

.animated-logo {
  width: 100px; /* Default size */
  animation: runLogo 10s infinite linear; /* Smooth animation */
  position: absolute; /* Absolute positioning to keep logos within container */
}

/* Media Query for Mobile and Tablet Devices */
@media (max-width: 768px) {
  .animated-logo {
    width: 80px; /* Smaller size for smaller screens */
  }
}

/* Animation keyframes */
@keyframes runLogo {
  0% {
    transform: translateX(0) scale(1);
  }
  25% {
    transform: translateX(20vw) scale(1.1) rotate(-5deg); /* Moves 20% of the viewport width */
  }
  50% {
    transform: translateX(40vw) scale(1) rotate(5deg); /* Moves 40% of the viewport width */
  }
  75% {
    transform: translateX(60vw) scale(1.1) rotate(-5deg); /* Moves 60% of the viewport width */
  }
  100% {
    transform: translateX(80vw) scale(1); /* Moves just past the screen edge */
  }
}
